.Header{
  width: auto;
  height: 70px;
  position: relative;
}
.Parul{
  font-weight: bold;
  color: black;
  font-size: large;
  padding-top: 10px;
}
.University{
  color: red;
  font-size: larger;
}
.g-signin2{
float:right;
top:-50%;
}
