.Header{
  width: auto;
  height: 70px;
  position: relative;
}
.Parul{
  font-weight: bold;
  color: black;
  font-size: large;
  padding-top: 10px;
}
.University{
  color: red;
  font-size: larger;
}
.Google{
  align-content: right;
}
.g-signin2{
  position: relative;
  right: 0px;
  width: 300px;
  border: grey;
  float: right;

}