.Header{
  background-color: rgb(164, 43, 235);
  width: auto;
  height: 70px;
}
.Parul{
  font-weight: bold;
  color: antiquewhite;
  font-size: large;
  padding-top: 10px;
}

.University{
  color: antiquewhite;
  font-size: large;
}

.submit{
  border-color: green;
  padding: 20px;
  border-radius: 20px;
  font-weight: bold;
}

.Home{
  padding: 10px;
  border: none;
  font-weight: bold;
  background-color: violet;
}

.Navigation{
  background-color: violet;
}